header,
footer {
	text-align: center;
	background: #ffffe0;
}
ul {
	display: inline-flex;
	margin: 0 0 0 -40px;
}
li {
	list-style: none;
	margin-right: 20px;
}
li.show {
	border-bottom: 3px solid black;
}
a {
	text-decoration: none;
}
table {
	width: 80%;
	margin: 20px auto;
}
td {
	text-align: center;
}
td:nth-child(3) {
	text-align: left;
}
h2 {
	margin: 10px auto;
	padding: 0;
	text-align: center;
}
h2 {
	width: 80%;
	background: #ffffe0;
}
form{
	display:block;
	text-align: center;
	margin: 0 auto;
}
button {
	background: none;
	border: none;
	cursor: pointer;
}
button[type="submit"],
button[type="reset"] {
	border: 1px solid black;
}
input[type="text"] {
	width: 250px;
}

.date.alert {
	color: red;
}
.date.end {
	color: rgba(0, 0, 0, 0.2);
}

input[type="text"].edit-task {
	width: 95%;
}
thead th {
	cursor: pointer;
}
.delete-th {
	pointer-events: none;
}
thead th.showUp {
	background: #ffffe0;
}
thead th.showUp::after {
	content: "▲";
}
thead th.showDown {	
	background: #ffffe0;
}
thead th.showDown::after {
  content: "▼";
}